p button {
    margin-left: 1em;
}

button {
    margin-right: 1em;
}

.dialog-widget button {
    margin-right: 0;
}

h1, h2 {
    letter-spacing: 0.02em;
    font-weight: normal;
}

textarea {
    width: 100%;
    min-height: 20em;
}

* {
    box-sizing: border-box;
}
